.App {
  font-family: "ibm-plex-sans";
  .header {
    .top--header {
      height: 59px;
      padding: 6px 352px;
      box-sizing: border-box;
      border-bottom: #e9e9e9 solid 1px;
      img {
        height: 100%;
      }
    }
    .bottom--header {
      display: flex;
      padding: 30px 352px;
      .title--sub {
        padding: 20px 40px 30px 0;
        h1 {
          font-size: 32px;
          // line-height: 26px;
          font-weight: bold;
        }
        p {
          font-size: 19px;
          line-height: 29px;
          color: #868a8a;
          margin-top: 20px;
        }
      }
      .pic--div {
        .main-pic {
          height: 200px;
          width: 350px;
          border-radius: 10px;
        }
      }
    }
  }

  .main-container {
    background-color: #f3f5f5;
    padding: 30px 352px;
    display: flex;
    .menu-container {
      width: 70%;
      h2 {
        font-size: 24px;
        font-weight: bold;
      }
      .menu--catego {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 25px 0 50px 0;

        .dish--container {
          border: none;
          background-color: #ffffff;
          width: 400px;
          height: 160px;
          box-sizing: border-box;
          display: flex;
          border-radius: 10px;
          padding: 15px;
          align-items: center;
          cursor: pointer;
          .descript {
            box-sizing: border-box;
            height: 100%;
            text-align: left;
            h3 {
              font-size: 18px;
              line-height: 15px;
              color: #2e3333;
            }
            .details {
              height: 38px;
              overflow: hidden;
              font-size: 14px;
              line-height: 20px;
              color: #868a8a;
              margin-top: 14px;
            }
            .price {
              font-size: 17px;
              line-height: 14px;
              color: #808484;
              margin-top: 24px;
            }
          }

          img {
            height: 130px;
            width: 130px;
            object-fit: cover;
            border-radius: 10px;
            margin: auto;
          }
        }
      }
    }
    .cart {
      border: purple solid 1px;
      width: 30%;
    }
  }
}

.menu-basket {
  /* border: green solid 2px; */
  max-width: 1200px;
  display: flex;
}

// /* BASKET  */

// .basket {
//   /* height: 300px; */
//   width: 25%;
//   background-color: #ffffff;
//   border-radius: 10px;
// }

// .basket-head {
//   background-color: #00cdbd;
//   height: 50px;
//   margin: 20px 20px;
//   text-align: center;
//   padding-top: 16px;
//   box-sizing: border-box;
//   color: white;
//   border-radius: 10px;
// }

// .details {
//   /* border: red solid 1px; */
//   margin: 10px;
//   display: flex;
//   justify-content: space-between;
//   border-bottom: black solid 1px;
// }

// .sous-total .div1 {
//   /* border: green solid 1px; */
//   margin: 10px;
//   display: flex;
//   justify-content: space-between;
// }

// .sous-total .div2 {
//   /* border: green solid 1px; */
//   margin: 10px;
//   display: flex;
//   justify-content: space-between;
// }

// .total {
//   /* border: blue solid 1px; */
//   margin: 10px;
//   display: flex;
//   justify-content: space-between;
//   font-size: 19px;
//   border-top: black solid 1px;
// }

// .counter {
//   display: flex;
// }

// .butt {
//   height: 18px;
//   width: 18px;
//   border-radius: 50%;
//   color: #00cdbd;
//   border: #00cdbd solid 2px;
//   background-color: white;
//   cursor: pointer;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .empty {
//   text-align: center;
// }
